{% extends 'base.html.twig' %}

{% block title %}Membre
{% endblock %}

{% block body %}
	<h1>Membre</h1>

	<table class="table table-hover align-middle">
		<tbody>
			<tr>
				<th>Nom d'utilisateur</th>
				<td>{{ member.nickname }}</td>
			</tr>

			{% if member.description is not null -%}
				<tr>
					<th>Bio</th>
					<td>{{ member.description }}</td>
				</tr>
			{% endif %}

			<tr>
				<th>Bibliothèque</th>
				<td>
					<a href="{{ path('library_show', {'id': member.library.id}) }}" class="btn btn-sm btn-outline-primary">
						Voir
						<span class="badge text-bg-secondary">{{ member.library.movies|length }}</span>
					</a>
				</td>
			</tr>

			<tr>
				<th>Playlists</th>
				<td>
					{% if member.playlists|filter(p => p.published)|length == 0 -%}
						<i>Aucune playlist publique</i>
					{% else -%}
						{% for playlist in member.playlists|filter(p => p.published) -%}
							<a class="btn btn-sm btn-outline-secondary" href="{{ path('playlist_show', {'id': playlist.id}) }}">
								{{ playlist }}
								<span class="badge text-bg-secondary">{{ playlist.movies|length }}</span>
							</a>
						{% endfor %}
					{% endif %}
				</td>
			</tr>
		</tbody>
	</table>

	<a class="btn btn-primary" href="{{ path('member_index') }}">Retour aux membres</a>

{% endblock %}
