{% extends 'base.html.twig' %}

{% block title %}Playlist publiques
{% endblock %}



{% block body %}
<h1>Playlists publiques</h1>



	<div class="row mx-auto">
		{% for playlist in playlists -%}
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
				<div class="card text-center">
					<div class="card-header">Crée par : <i>{{ playlist.member }}</i></div>
					<div class="card-body">
						<h5 class="card-title">{{ playlist.name }}</h5>
<h6 class="card-subtitle mb-2 text-body-secondary">
	{{ playlist.movies|length }}
	films
</h6>


						<p class="card-text">{{ playlist.description }}</p>
					</div>
					<div class="card-footer">
						<a class="btn btn-primary" href="{{ path('playlist_show', {'id': playlist.id}) }}">Show</a>
						<a class="btn btn-warning" href="{{ path('playlist_edit', {'id': playlist.id}) }}">Edit</a>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
