{% extends 'base.html.twig' %}

{% block title %}Playlist
{% endblock %}

{% block body %}
	<h1>Playlist</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Name</th>
				<td>{{ playlist.name }}</td>
			</tr>
			<tr>
				<th>Description</th>
				<td>{{ playlist.description }}</td>
			</tr>
			<tr>
				<th>Films</th>
				<td>
					<ul>
						{%  for movie in playlist.movies %}
							<li>
<a href="{{ path('playlist_movie_show', { 'playlist_id': playlist.id, 'movie_id': movie.id }) }}">{{ movie }}</a>


							</li>
						{% endfor %}
					</ul>
				</td>
			</tr>
		</tbody>
	</table>

	<div class="d-flex mt-3">
		<a class="btn btn-success" href="{{ path('playlist_index') }}">Back to list</a>
	</div>

{% endblock %}
