{% extends 'base.html.twig' %}

{% block title %}Bibliothèques{% endblock %}

{%  block stylesheets %}
    <!-- Styles for a pretty table -->
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
{% endblock %}


{% block body %}
    <h1>Bibliothèques</h1>

    <table>
        <tr>
            <th>Id</th>
            <th>Description</th>
            <th>Membre</th>
            <th>Nb de films</th>
            <th>Voir</th>
        </tr>

        {% for library in libraries %}
            <tr>
                <td>{{ library.id }}</td>
                <td>{{ library.description }}</td>
                <td>{{ library.member }}</td>
                <td>{{ library.movies|length }}</td>
                <td><a href="{{ path('library_show', {'id': library.id}) }}">Voir</a></td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
