{% extends 'base.html.twig' %}

{% block title %}Bibliothèque{% endblock %}

{% block body %}

	<h1>Bibliothèque</h1>

	<table class="table table-hover align-middle">
		<tbody>
			<tr>
				<th>Description</th>
				<td>{{ library.description }}</td>
			</tr>
			<tr>
				<th>Membre</th>
				<td>{{ library.member }}</td>
			</tr>
			<tr>
				<th>Films</th>
				<td>
					<ul>
						{%  for movie in library.movies %}
							<li>
								<a href="{{ path('movie_show', { 'id': movie.id }) }}">{{ movie }}</a>
							</li>
						{% endfor %}
					</ul>
				</td>
			</tr>
		</tbody>
	</table>

<a class="btn btn-primary" href="{{ path('library') }}">Retour aux bibliothèques</a>
{% endblock %}
